<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [mode]="'over'"
      [opened]="false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/naramek" (click)="drawer.close()">Náramek</a>
      <a mat-list-item routerLink="/privesek" (click)="drawer.close()">Přívěsek</a>
      <a mat-list-item routerLink="/krouzek" (click)="drawer.close()">Prsten</a>
      <a mat-list-item routerLink="/naramekNaKotnik" (click)="drawer.close()">Náramek na kotník</a>
      <a mat-list-item routerLink="/klicenka" (click)="drawer.close()">Klíčenka</a>
      <a mat-list-item routerLink="/nausnice" (click)="drawer.close()">Náušnice</a>
      <a mat-list-item routerLink="/sadaSperku" (click)="drawer.close()">Sada šperků</a>
      <a mat-list-item routerLink="/mobil" (click)="drawer.close()">Přívěsek na mobil</a>
      <a mat-list-item routerLink="/ostatni" (click)="drawer.close()">Vánoční dekorace i ostatní</a>

      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/admin" *ngIf="isLoggedIn$ | async" (click)="drawer.close()">Panel administratora</a>
      <a mat-list-item *ngIf="isLoggedIn$ | async" (click)="logout(); drawer.close()">Wyloguj</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="main-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="toolbar-title" routerLink="/">
        <img src="assets/tree.jpeg" alt="Tree of Life" class="logo-image">
        Goši
      </span>
      <span class="toolbar-spacer"></span>
      <div class="desktop-navigation">
        <a mat-button routerLink="/naramek" routerLinkActive="active-link">

          <span>Náramek</span> <!--Bransoletka-->
        </a>
        <a mat-button routerLink="/privesek" routerLinkActive="active-link">

          <span>Přívěsek</span> <!--Wisiorek-->
        </a>
        <a mat-button routerLink="/krouzek" routerLinkActive="active-link">

          <span>Prsten</span> <!--Pierścionek-->
        </a>
        <a mat-button routerLink="/naramekNaKotnik" routerLinkActive="active-link">

          <span>Náramek na kotník</span> <!--Bransoletka na nogę-->
        </a>
        <a mat-button routerLink="/klicenka" routerLinkActive="active-link">

          <span>Klíčenka</span> <!--Brelok na klucze-->
        </a>
          <a mat-button routerLink="/nausnice" routerLinkActive="active-link">

              <span>Náušnice</span> <!--Kolczyki-->
          </a>
          <a mat-button routerLink="/sadaSperku" routerLinkActive="active-link">

              <span>Sada šperků</span> <!--Komplety-->
          </a>
          <a mat-button routerLink="/mobil" routerLinkActive="active-link">

              <span>Přívěsek na mobil</span> <!--Na telefon-->
          </a>
          <a mat-button routerLink="/ostatni" routerLinkActive="active-link">

              <span>Vánoční dekorace i ostatní</span> <!--Inne-->
          </a>
      </div>
      <span class="toolbar-spacer"></span>

      <a mat-icon-button routerLink="/admin" *ngIf="isLoggedIn$ | async" matTooltip="Panel administratora">
        <mat-icon>admin_panel_settings</mat-icon>
      </a>
      <button mat-icon-button *ngIf="isLoggedIn$ | async" matTooltip="Wyloguj" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>

    <footer class="footer">
      <mat-toolbar>
        <div class="footer-content">
        </div>
      </mat-toolbar>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
